@import 'tailwindcss';

@theme {
  --color-primary-100: #EEE3FF;
  --color-primary-600: #8054C7;
  --color-primary-700: #5A3696;
  --color-secondary-600: #63D838;

  --color-gray-100: #F3F4F6;
  --color-gray-300: #D1D5DB;
}